body{
font-family: system-ui;
background:#f6dfe5;
margin:0;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.card{
background:white;
width:90%;
max-width:420px;
padding:30px;
border-radius:18px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
text-align:center;
}

h1{
margin-bottom:10px;
}

input,textarea{
width:100%;
padding:14px;
border-radius:10px;
border:1px solid #ddd;
margin-top:10px;
font-size:16px;
}

textarea{
height:150px;
resize:none;
}

button{
width:100%;
margin-top:18px;
padding:14px;
border:none;
border-radius:12px;
background:#ff4f87;
color:white;
font-size:16px;
font-weight:600;
cursor:pointer;
}

button:hover{
opacity:0.9;
}

.link{
margin-top:15px;
font-size:14px;
}

.counter{
font-size:14px;
color:#555;
margin-top:6px;
}